.tile {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
  
  &__front {
    cursor: pointer;
    background-image: url('/assets/img/deck.jpg');
    background-size: cover;
  }
  
  &__back {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            background-size: 90% 90%;
            background-position: center;
            background-repeat: no-repeat;
  }
  
  &__front,
  &__back {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #888;
    
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  }

  &.effect__click.flipped {
    
    & .tile__front {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
    
    & .tile__back {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    
  }
  
}
